{% extends 'main/base.html' %}

{% block title %}
Авторизація
{% endblock %}

{% block menu %}
<form action="/users/exit" method="post" class="form-contact">
<p> Авторизація </p>
<p><label>Логін: </label> <input type="text" name="login" value="" requied />
<p><label>Пароль: </label> <input type="password" name="password" value="" requied />
<p><input type="checkbox" name="remainme" />Запамятати мене
<p><input type="submit" value="Вхід" />
<hr align=left width="300px">
<p><a href="{{url_for('registration')}}">Реєстрація</a>
</form>
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

{% endblock %}