{% extends 'main/base.html' %}

{% block title %}
Реєстрація
{% endblock %}

{% block menu %}
<form action="/users/new" method="post" class="form-contact">
<p> Реєстрація </p>
<p> Заповніть всі поля </p>

<p><label>Імя: </label> <input type="text" name="first_name" value="" requied />
<p><label>Прізвище: </label> <input type="text" name="last_name" value="" requied />
<p><label>Email: </label> <input type="text" name="email" value="" requied />
<p><label>Логін: </label> <input type="text" name="login" value="" requied />
<p><label>Пароль: </label> <input type="password" name="password" value="" requied />
<p><label>Повтор пароля: </label> <input type="password" name="password2" value="" requied />
<p><input type="submit" value="Реєстрація" />
</form>
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% endblock %}