<a class="block_menu">{% extends 'main/base.html' %}

{% block title %}
Реєстрація
{% endblock %}

{% block menu %}
</a>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='/css/register.css', v=1)}}"> -->
  <link rel="stylesheet" href="{{ url_for( 'static', filename='/css/register.css', v=1)}}">
</head>
<body>
  <form action="/users/new" method="post" class="form-contact">

    <p id="text_login">Реєстрація користувача</p>
    <div id="flash_massage">
      flash-text
    </div>
    <div>
      <p><input type="text" class="form-login" id="first_name" name="first_name" placeholder="Введіть ім'я"></p>
      <p><input type="text" class="form-login" id="last_name" name="last_name" placeholder="Введіть прізвище"></p>
      <p><input type="email" class="form-login" id="email" name="email" placeholder=" Введіть Email(email@example.com)"></p>
      <p><input type="password" class="form-login" id="password" name="password" placeholder=" Введіть пароль(більше 8-ми символів)"></p>
      <p><input type="password" class="form-login" id="password2" name="password2" placeholder=" Повторіть пароль"></p>
      <input type='submit' class="button_add" value="Реєстрація">
      <a class="button_exit" href="/users/exit" type='submit' >Авторизація</a>
    </div>
  </form>
  <div id="icon_login">G</div>
  <div class="information">
    <p> На цьому сайті Ви можете зробити наступне:</p>
  </div>

</body>

{% endblock %}
